/* Button & Text Box API_Project1.html */
html {
  height: 100vh;
  /*vh significa View Height portanto 97vh is 97% do height do View/Browsers*/
  display: flex;
}

body {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}

.inputSearch {
  text-align: center;
}

#personName {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: #ca2e7c;
  outline: none;
  border: none;
  border: solid 1px #ca2e7c;
  width: 30%;
  height: 37px;
}

#buttonName {
  padding-top: 5px;
  color: #e34d79;
  font: 13px 'Montserrat';
  background-color: #f7a4c4;
  width: 155px;
  height: 37.02px;
  outline: none;
  border: none;
  border-bottom: solid 3px #ca2e7c;
  border-right: solid 3px #ca2e7c;
}

#buttonName:hover {
  padding-top: 5px;
  color: #f7a4c4;
  font: 13px 'Montserrat';
  background-color: #e34d79;
  width: 155px;
  height: 37.02px;
  outline: none;
  border: none;
  border-bottom: solid 3px #f7a4c4;
  border-right: solid 3px #f7a4c4;
  font-weight: 800;
}

#buttonName:active {
  padding-top: 5px;
  font: italic 13px 'Montserrat';
}

/* End of Button & Text Box from API_Project1.html */

/* Box Content from Left */

.row {
  padding-top: 3%;
  margin: 1% 3%;
}

.card {
  border-radius: 0;
}

.col-md-6_Left {
  /* float: left; */
  max-width: 60%;
  min-width: 50%;
}

h2 {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 0.80em;
  color: #ca2e7c;
}

#catBreed {
  font-family: 'Press Start 2P', system-ui;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-size: 0.80em;
  color: #ca2e7c;
}

.row_photoCat2 {
  padding-top: 5%;
  color: #ca2e7c;
  font: 0.75em 'Montserrat';
  font-weight: 300;
  text-align: justify;
}

/* End Box Content from Left */

/*Box Content from Right */

#row_randomFact {
  padding-top: 5%;
  color: #ca2e7c;
  font: 0.8em 'Montserrat';
  font-weight: 300;
  text-align: justify;
  padding-left: 1%;
  max-width: 100%;
  overflow-y: auto; /* means it can be scrolled into view*/
}

/* End Box Content from Left */

/* Fixed columns */
.tdw-cat {
  background-image: url(Imagens/TDW_Caixa.png);
  width: 589px;
  height: 353px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding: 1.2rem;
}

.tdw-cat h2 {
  margin-bottom: 10px;
}

.tdw-cat img {
  object-fit: contain;
  align-items: center;
  max-width: 100%;
}

.tdw-cat-child {
  overflow-y: auto; 
}

.column-fix {
  max-width: 589px;
}

/* End Fixed columns */

/* Making it responsive in mobile devices */
@media only screen and (max-width: 500px) {

  /* Styles */
  .tdw-cat {
    width: 100%;
    max-height: 300px;
    padding: 1rem;
  }

  .tdw-cat:last-of-type {
    margin: 0.8rem 0;
  }

  h2 {
    font-size: 0.7rem;
  }
}